body{
    background-color: #edc292;
}
.nav-item{
    font-size: 25px;
    font-family: font;
}
.navbar-nav li{
    margin-right: 30%;
}
.afrodita{
    float: right;
    margin-right: 7%;
    font-family: font1;
    text-transform: uppercase;
    padding-top: 1%;
    letter-spacing: 25px;
    color: black;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(61, 61, 61);
}
/*nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 20%;
}

nav ul li a{
    font-family: font;
    color: black;
    font-size: 25px;
    text-decoration: none;
}*/

@font-face {
    font-family: font;
    src: url(../font/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: font1;
    src: url(../font/DancingScript-VariableFont_wght.ttf);
}

/*nav ul li a:hover{
    color: white;
    transition: 0.5s;
}*/

.div1{
    position: relative;
}

.div1 img{
    width: 100%;
    height: 450px;
}

.div1 #text{
    position: absolute;
    top: 15%;
    text-align: center;
    font-size: 550%;
    color: white;
    width: 100%;
    font-family: font1;
}

.div4 #text3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 20px;
}

.div4 h1{
    text-align: center;
    font-family: font;
    animation: animacija 3s infinite;
}

table{
    width: 40%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

table th{
    background-color: white;
    padding: 2%;
}

table td{
    padding: 1%;
}

@media screen and (max-width: 600px) {
    /*nav ul li{
        width: 100%;
    }*/
    form h1{
        text-align: center;
    }
    .div1 #text{
        font-size: 400%;
    }
    .afrodita{
        display: none;
    }
}

@keyframes animacija {
    from{color:black;}
    to{text-shadow: 10px 10px 10px white;}
}

